@media (max-width: 1100px) {
  .contact-left {
    width: 60%;
  }
  .contact-right {
    width: 40%;
    border-left: 1px solid #666;
  }
  .multi-use-heading {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .multi-use-heading {
    font-size: 40px;
  }
  .hide-mob-heading {
    display: none;
  }
  .mob-heading {
    display: block;
  }
  /* hero section */
  #hero-bottom {
    flex-direction: column;
  }
  .hero-video {
    width: 100%;
    position: static;
  }
  .hero-video video,
  .hero-text {
    width: 100%;
    margin: 10px 0;
  }
  .space-page {
    height: 200vh;
    position: relative;
    margin-top: -90vh;
    padding: 80px 35px;
  }
  .space-text {
    position: sticky;
    top: 100px;
    left: 0;
  }

  /*========================
            page 3
 ========================== */
  .page3,
  .page5 {
    width: 100%;
    height: 700vh;
  }

  .p3-wrapper,
  .p5-wrapper {
    height: 150vh;
  }

  .p3-card,
  .p5-card {
    height: 150vh;
    flex-direction: column;
  }
  .p3-left,
  .p3-right,
  .p3-center {
    width: 100%;
    height: auto;
  }

  .p3-right .reveal-media {
    display: none;
  }

  .p3-left p {
    font-size: 24px;
    font-weight: 400;
    padding: 45px 0 0 0;
  }

  .p3-right {
    padding-left: 0;
  }

  .p3-right video,
  .p6-card-vid video {
    display: none;
  }
  .mob-video {
    display: block;
    margin: 20px 0;
    height: 400px;
  }

  /*========================
                page4 
      ==========================*/

  .heading p:nth-child(3) {
    padding: 50px 0;
  }
  .p4-container {
    flex-direction: column;
  }
  .p4-left {
    height: 60px;
    width: 100%;
    position: static;
  }

  .p4-left {
    justify-content: space-between;
  }

  .p4-menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .p4-left .contact-btn {
    display: none;
  }

  .p4-right-container {
    width: 100%;
  }
  .p4-right-cont-heading h1 {
    display: none;
  }
  .box-btn span {
    width: 35px;
    height: 35px;
  }

  /* ==================
      page 5
================= */

  .p5-left-card {
    width: 100%;
    height: 100%;
  }
  .p5-left-card img {
    width: 100%;
    height: 60%;
  }
  .p5-right-card {
    width: 100%;
    height: 100vh;
  }

  /* 
============================================
                  page6
===============================================
*/
  .page6 {
    width: 100%;
  }

  .p6-card {
    flex-direction: column;
    height: auto;
  }

  .p6-card-vid {
    display: none;
  }
  .p6-card-content,
  .p6-wrapper {
    width: 100%;
  }
  .p6-mob-vid {
    display: block !important;
    width: 100%;
    margin: 10px 0 20px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  /* page 7  */
  .page7-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
  }

  .page7 .heading {
    width: 100%;
  }

  .heading-desc {
    font-size: 18px !important;
  }

  .team3 {
    grid-column: span 2;
  }

  .team4,
  .team5,
  .team6,
  .team7,
  .team8,
  .team9,
  .team10,
  .team11 {
    grid-column: auto;
    grid-row: auto;
  }

  .p8-card {
    padding: 10px 0;
    width: 100%;
  }
  /* =====================
        page 9
=================  */
  .p9-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .p9-heading .heading {
    width: 100%;
  }
  .p9-heading-img {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  .p9-head-card {
    width: 100%;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .video-wrapper img {
    height: 350px;
  }
  /* ====================
contact us section
=================== */
  .page10-wrapper {
    height: auto !important;
  }
  .page10 {
    position: static !important;
    top: 0 !important;
    height: auto !important;
    justify-content: flex-start !important;
    padding: 40px 35px;
  }

  .page10 .heading .multi-use-p {
    margin-top: 0;
  }

  .contact-us {
    margin-top: 0 !important;
    /* padding: 15vw 0 2vw !important; */
  }
  .contact-us .heading {
    padding: 40px 35px 50px;
  }
  .contact-container,
  .form-input-inner-content {
    flex-direction: column;
    padding: 20px 0;
  }
  .contact-left,
  .form-input-inner-content span {
    width: 100%;
  }
  .terms-btn p {
    text-align: center;
  }
  .budget-btn span {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .contact-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #666;
    border-left: none;
  }
  .contact-right .contact-right-card:nth-child(2) {
    border-top: none;
    border-left: 1px solid #666;
  }
  .contact-right .contact-right-card {
    width: 100%;
    border: none;
  }
  .contact-left {
    padding: 0 35px;
  }
  .contact-card-img {
    padding-top: 20px;
  }
}

/* ============================================================================
                            for device 550px
  ==============================================================================
*/

@media (max-width: 750px) {
  .design-img {
    flex-wrap: wrap;
    height: auto;
    border: none;
  }

  .design-img img {
    width: 48%;
    border: none;
  }
  .design-img p {
    width: 50%;
  }
  .special h2 {
    font-size: 40px !important;
  }
  .p5-right-heading h1 {
    font-size: 25px;
  }
  .contact-btn .btn::after {
    width: 12px;
    height: 12px;
  }
  .contact-btn {
    width: 100%;
  }

  .contact-btn .btn {
    width: 100%;
    font-size: 12px;
  }

  .multi-use-heading {
    font-size: 30px;
  }
  #hero .hero-text p:nth-child(1) {
    font-size: 20px;
  }
  #page4 .heading .multi-use-p {
    padding-top: 60px;
  }
  .p4-right-box {
    height: 45vh;
  }
  .p4-box-bottom p:nth-child(1) {
    font-size: 16px;
  }
  .box-btn {
    display: none;
  }
  /* page 6 */

  .page6-btn button {
    font-size: 11px;
    padding: 14px 8px;
  }
  .description {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  /* page 7  */
  .page7-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 0.8rem;
  }

  .team3 {
    grid-column: span 2;
  }

  .team4,
  .team5,
  .team6,
  .team7,
  .team8,
  .team9,
  .team10,
  .team11 {
    grid-column: auto;
    grid-row: auto;
  }

  .team-card-content h1 {
    font-size: 30px;
  }

  .team8 {
    padding: 15px;
  }

  .team8 .border-btn {
    position: static;
    margin-top: 15px;
  }
  .contact-right {
    width: 100%;
    flex-direction: column;
  }

  .terms-btn {
    gap: 0;
    flex-direction: column;
  }
  .terms-btn p {
    margin-top: 0;
    line-height: 1.4;
  }
  /* page 8 */
  .p8-card:nth-child(1),
  .p8-card:nth-child(3) {
    padding-right: 10px;
  }
  .p8-card p:nth-child(3) {
    padding: 50px 0;
  }
  .p8-card h1 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
  }
  .awards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .special .border-btn {
    margin-left: 10px;
  }
  .contact-right {
    width: 100%;
    border-top: 1px solid #666;
    border-left: none;
  }

  .contact-card-img {
    padding-top: 20px;
  }

  .special h2 {
    font-size: 40px;
  }

  .mob-p3,
  .mob-page5 {
    display: block;
    padding-bottom: 100vh;
  }
  .page3,
  .page5 {
    display: none;
  }
  .mob-border-btn {
    display: block;
  }
  .p5-tech {
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .p5-tech-heading {
    letter-spacing: 1.2px;
    padding: 15px 0;
  }
  .tech-desc {
    padding-bottom: 15px;
  }
  .page6 {
    margin-top: -100vh;
  }
  .page6-btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .p5-btn {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .contact-btn {
    width: 100%;
    flex-direction: column;
  }
}
