.framework-section {
  display: none;
}

.framework-section.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Each Section */
.frontend-cont,
.backend-cont,
.cms-cont,
.server-cont,
.library-cont {
  display: contents;
}

/* Cards */
.framework-card {
  min-height: 300px;
  padding: 35px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.framework-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.framework-card p {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

/* ai.development-page */
.development-page {
  width: 100%;
  height: auto;
  padding: 50px 35px;
}
.development-page-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.development-page-left {
  position: sticky;
  top: 100px;
  height: fit-content;
  width: 30%;
}

.development-page-menu {
  display: flex;
  flex-direction: column;
}

.dev-menu-item {
  text-decoration: none;
  color: #666;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  transition: 0.3s ease;
}

.dev-menu-item:hover,
.dev-active {
  color: black;
}

.btn a:hover {
  transform: translateY(-3px);
}

.development-page-right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.development-page-right-cont {
  display: flex;
  flex-direction: column;
}

.development-page-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.development-page-card {
  padding: 30px 20px 30px 0;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.development-page-card:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.development-page-card h2 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #111;
}

.development-page-card p {
  font-size: 16px;
  color: #666;
}
.dev-space-page {
  height: 100vh;
  width: 100%;
}

@media (max-width: 992px) {
  s .framework-section.active {
    grid-template-columns: repeat(2, 1fr);
  }
  .dev-heading h1 {
    display: block !important;
    font-size: 25px !important;
  }
  .development-page-container {
    flex-direction: column;
  }

  .development-page-left {
    position: static;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  .development-page-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .dev-menu-item {
    font-size: 22px;
  }

  .dev-btn {
    display: none;
  }
  .development-page-right {
    width: 100%;
  }
  .development-page-cards {
    grid-template-columns: 1fr;
    margin-top: 30px;
    width: 100%;
  }
  .development-page-card {
    padding: 30px 0;
    padding-left: 0;
  }
  .mob-hide-space {
    display: none;
  }
}

@media (max-width: 650px) {
  .framework-card p {
    font-size: 20px;
  }
  .framework-section.active {
    grid-template-columns: 1fr;
  }
}
